@font-face {
  font-family: 'Handicraft';
  src: url('fonts/alfont_com_TheYearofHandicrafts-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Handicraft', sans-serif;
}
